*.log
wp-admin
wp-includes
/license.txt
/readme.html
/wp-activate.php
/index.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config-sample.php
/wp-config.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
.htaccess
robots.txt

wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/sitemap.xml
/sitemap.xml.gz

# Project dev files
/vendor
/node_modules/

# Mac OS custom attribute store and thumbnails
*.DS_Store
._*

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Error logs
error_log.txt
debug.log
wordfence-waf.php
